<%- include("../partials/header.ejs") -%>

<div class="container">
    <a href="/stalls/new" class="btn btn-success text-white my-5 btn-lg">Create your stall</a>
</div>
<div class="container ">
    <div class="row ">
        <%allStall.forEach(stall => {%>
        <div class="col-sm-6 col-lg-3 mt-5 ">
            <a href="/stalls/<%= stall._id %>">
                <div class="card card-item card-body">
                    <img class="card-img-top " src="<%= stall.image %>" alt="<%= stall.name %>">
                    <div class="card-body">
                        <h3 class="card-title">
                            <p><%= stall.name %>
                        </h3>
                    </div>
                </div>
            </a>
        </div>
        <% });
    %>
    </div>
</div>

<%- include("../partials/footer.ejs") -%>